@import url('https://fonts.googleapis.com/css?family=Raleway');

#title-menu {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 26.25px;
}

.food {
  border-style: solid;
  border-color: black;
  background-color: #D5D8DC;
}

.side-title {
  border-style: solid;
  border-color: black;
  font-family: 'Raleway', sans-serif; 
  font-size: 18.75px;
  padding: 2px;
  border-width: 1px;
}

#chicken-label {
  background: #000066;
  float: right;
  color: white;
}

#beef-label {
  background-color: #6356E5;
  color: white;
  float: right;
  clear: right;
}

#sushi-label {
  background-color: #55B3F3;
  color: white;
  float: right;
  clear: right;
}

.text-in-box {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  padding: 5px;
}

@media (min-width: 992px) {
  .food {
    margin: 7px;
    height: automatic;
    box-sizing: border-box;
    width: 32.1%;
    float: left;
    clear: right;
  }
}

@media (min-width: 768px and max-width: 991px) {
  #chicken {
    margin: 7px;
    height: automatic;
    box-sizing: border-box;
    width: 50%;
    float: left;
    clear: left;
  }
  
    #beef {
    margin: 7px;
    height: automatic;
    box-sizing: border-box;
    width: 50%;
    float: right;
    clear: right;
  }
  #sushi {
    margin: 7px;
    height: automatic;
    box-sizing: border-box;
    width: 100%;
    clear: both;
  }
}

@media (max-width: 767px) {
  .food {
    margin: 5px;
    height: automatic;
    box-sizing: border-box;
    width: 100%;
  }
}